/* hrk-toggle
   Copyright 2019 Hugh Kern -- hkern0.com
   MIT license -- https://opensource.org/licenses/MIT */

/* generic helper classes */
.hrk-float-left {
    float: left;
}
.hrk-float-right {
    float: right;
}
.hrk-display-inlineblock {
    display: inline-block;
}
.hrk-flex-row { /* define horizontal flex */
    display: flex;
    flex-direction: row;
}
.hrk-flex-column { /* define horizontal flex */
    display: flex;
    flex-direction: column;
}
.hrk-flex-main-item {
    flex: 1 100%;
}
.hrk-margin-none {
    margin: 0;
}
.hrk-margin-medium {
    margin: 1rem;
}
.hrk-padding-none {
    padding: 0;
}
.hrk-padding-medium {
    padding: 1rem;
}
.hrk-hidden {
    display: none !important;
}


/* responsive navbar */
.hrk-bar {
    display: flex;
    flex-flow: row wrap;
}
.hrk-bar::after {
    clear: none;
}
.hrk-navbar { /* the whole navbar w. responsive and non-responsive parts */
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    background: rgba(250,250,250,.98);
    justify-content: space-between;
}
.hrk-toggle { /* the input checkbox or radio that a submenu is attached to. navbar toggle also gets hrk-bar-toggle class */
    display: none;
}
.hrk-menu-responsive { /* responsive menu disappears as standard and goes vertical for mobile first */
    display: none;
    order: 5;
    flex: 1 100%;
    flex-direction: column;
    background: inherit;
}
.hrk-menu-perm {
    display: flex;
    flex-direction: row;
}
.hrk-toggle + label {
    display: inline-block;
    cursor: pointer;
    width: 1rem;
    align-self: flex-start;
    padding: .5rem;
    text-align: center;
    font-size: small;
    color: black;
}
.hrk-bar-toggle:checked ~ .hrk-menu-responsive {  /* the responsive menu is labeled with class hrk-menu */
    display: flex;
    z-index: 10;
    border: thin solid;
}
.hrk-bar-toggle + label:before { /* make sure the navbar toggle and label are a block */
    display: block !important;
}
.hrk-bar-toggle + label { /* nonresponsive parts of the menu are just flex */
    flex: auto;
}
.hrk-bar-first {
    order: -1;
}
.hrk-bar-last { /* move a navbar item to the end of the lst */
    order: 100;
}
.hrk-bar-toggle + label { /* give the navbar hamburger some size and margins and make the cursor point into */
    display: inline;
    cursor: pointer;
    padding: .75rem 1rem;
    width: unset;
}
.hrk-bar > .hrk-toggle-label {
    margin-left: -2rem;
}
.hrk-navbar > .hrk-menu-responsive {
    position: absolute;
}
.hrk-navbar > .hrk-menu {
    top: 3rem;
}
.hrk-menu > .hrk-tree,
.hrk-menu > .hrk-leaf {
    margin-right: 1rem;
}
.hrk-bar-extramenu li {
    list-style-type: none;
}
.hrk-navbar > .hrk-bar-item > a, .hrk-navbar > .hrk-bar-item > span.hrk-a { /* all navbar top bar links get look and feel */
    margin-top: -.3rem;
    padding: 1rem;
    width: auto;
}
.hrk-menu > .hrk-tree > .hrk-tree-node > a, .hrk-menu > .hrk-tree > .hrk-tree-node > span.hrk-a,
.hrk-menu .hrk-leaf > *,
.hrk-bar-item a, .hrk-bar-item span.hrk-a {
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*//*this line doesn't play nicely with uikit, causes oscillation*/
    text-decoration: none;
    display: inline-block;
}
.hrk-menu > .hrk-leaf > * {
    padding: 0.5rem 0;
}
/* dropdown menu containers */
.hrk-menu > .hrk-tree > .hrk-tree-node .hrk-tree-children > .hrk-tree > .hrk-tree-node {
    width: 100%;
}
.hrk-bar-item > a:hover,
.hrk-bar-item > span.hrk-a:hover {
    background: rgba(120, 120, 120, .2);
}
.hrk-tree-node .hrk-tree-children a,
.hrk-tree-node .hrk-tree-children span.hrk-a,
.hrk-navbar > .hrk-bar-item .hrk-bar-extramenu a,
.hrk-navbar > .hrk-bar-item .hrk-bar-extramenu span.hrk-a,
.hrk-menu > .hrk-tree > .hrk-tree-node > a,
.hrk-menu > .hrk-tree > .hrk-tree-node > span.hrk-a { /* all navbar lower bar links get look and feel */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    display: inline-block;
}
.hrk-tree-node .hrk-leaf a,
.hrk-tree-node .hrk-leaf span.hrk-a {
    margin-left: .3rem;
    padding: .5rem .7rem;
    display: inline-block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.hrk-tree-node .hrk-tree > .hrk-tree-node > a,
.hrk-tree-node .hrk-tree > .hrk-tree-node > span.hrk-a,
.hrk-navbar > .hrk-bar-item .hrk-bar-extramenu a,
.hrk-navbar > .hrk-bar-item .hrk-bar-extramenu span.hrk-a,
.hrk-menu > .hrk-tree > .hrk-tree-node > a,
.hrk-menu > .hrk-tree > .hrk-tree-node > span.hrk-a { /* all navbar lower bar links get look and feel */
    padding: .5rem .5rem .5rem 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.hrk-navbar > label:hover,
.hrk-tree:hover,
.hrk-tree:hover > .hrk-node > a,
.hrk-tree:hover > .hrk-node > span.hrk-a,
.hrk-menu .hrk-leaf:hover,
.hrk-bar > label:hover {
    background: rgba(120,120,120,.2);
}
.hrk-navbar > .hrk-menu > .hrk-tree > label:hover {
    background: rgba(220,220,220,1); /* label needs to be opaque to cover close toggle */
}

/* toggle */
.hrk-tree {
    display: flex;
    flex-flow: row;
    align-items: stretch;
}
.hrk-navbar > .hrk-menu > .hrk-tree > label {
    margin-left: -2rem;
    background: rgba(250,250,250,1);
}
.hrk-tree-node, .hrk-leaf {
    display: inline-block;
    vertical-align: middle;
    -webkit-backface-visibility: hidden;
    align-self: flex-start;
}
.hrk-bar-extramenu ul,
.hrk-tree-children > .hrk-leaf {
    padding-left: 1rem;
}
.hrk-menu > .hrk-leaf {
    margin-left: 2rem;
    margin-right: .5rem;
}
.hrk-bar-extramenu,
.hrk-tree-children {
    display: none;
    order: 5;
    flex: 1 100%;
    position: relative;
    background: rgba(255,255,255,.98);
    border: .1rem solid #eee;
}
.hrk-bar-last > .hrk-tree > .hrk-tree-node > .hrk-tree-children {
    position: absolute;
    /* right: 0; */
    padding-right: .5rem;
    padding-left: .5rem;
}
.hrk-navbar > .hrk-bar-perm.hrk-bar-last > .hrk-tree > .hrk-tree-node > .hrk-tree-children,
.hrk-bar-last > .hrk-tree > .hrk-tree-node > .hrk-tree-children:last-child {
    right: 0;
}

.hrk-bar-extramenu,
.hrk-toggle:checked ~ .hrk-tree-node > .hrk-tree-children {
    display: flex;
    flex-direction: column;
    z-index: 50;
}
.hrk-toggle-close-menu > input[type="radio"].hrk-toggle:checked + label {
    display: inline-block;
    z-index: 50;
}
.hrk-toggle-close-menu + input[type="radio"].hrk-toggle:checked + label {
    z-index: 50;
}
.hrk-toggle-close-menu > input[type="radio"].hrk-toggle + label {
}
.hrk-toggle-close-menu {
    align-self: flex-start;
}
.hrk-toggle-close-menu > label {
    padding: .5rem;
}

.hrk-toggle-close-menu > .hrk-toggle + .hrk-toggle-fmt-x:before {
    content: '⨯'; /*'⋁'; /*'▾''▽'; /*'x';*/
}
.hrk-toggle-close-menu > .hrk-toggle:checked + .hrk-toggle-fmt-x {
    display: inline-block;
    z-index: 50;
}
.hrk-toggle-close-menu > .hrk-toggle + .hrk-toggle-fmt-caret:before {
    font-family: "Times New Roman", serif;
    content: '▼';
/*    content: '⨯'; /*'⋁'; /*'▾''▽'; /*'x';*/
}
.hrk-toggle-close-menu > .hrk-toggle:checked + .hrk-toggle-fmt-caret {
    display: inline-block;
    z-index: 50;
}
/* default opener / closer is just text +/- */
.hrk-toggle + label.hrk-toggle-fmt-caret:before {
    font-family: "Times New Roman", serif;
    content: '►';
}
.hrk-toggle:checked + label.hrk-toggle-fmt-caret:before {
    font-family: "Times New Roman", serif;
    content: '▼';
    z-index: 50;
}
/* default opener / closer is just text +/- */
.hrk-toggle + label.hrk-toggle-fmt-plusminus:before {
    content: '+';
}
.hrk-toggle:checked + label.hrk-toggle-fmt-plusminus:before {
    content: '–'; /*'—';*/
    z-index: 50;
}
/* toggle option: put svg icons, text or anything else into on/off spans */
.hrk-toggle:checked + label.hrk-toggle-fmt-onoff > .hrk-toggle-fmt-onoff-on {
    display: none;
}
.hrk-toggle + label.hrk-toggle-fmt-onoff > .hrk-toggle-fmt-onoff-off {
    display: none;
}
/* toggle option: text-based carets */
.hrk-toggle:checked + label.hrk-toggle-fmt-onoff > .hrk-toggle-fmt-onoff-off {
    display: initial;
}
/* make off toggle not display in favor of close button when radio */
input[type="radio"].hrk-toggle:checked + label {
    display: none;
}
.hrk-toggle + label.hrk-toggle-fmt-ellipsis:before {
    font-weight: 900;
    content: "...";
}
.hrk-toggle:checked + label.hrk-toggle-fmt-ellipsis:before {
    font-weight: 900;
    content: "X";
    z-index: 50;
}
.hrk-toggle-fmt-paginav {
    margin-right: 0;
}
.hrk-toggle + label.hrk-toggle-fmt-paginav:before {
    font-weight: 900;
    content: "◃ | ▹";
}
.hrk-toggle:checked + label.hrk-toggle-fmt-paginav:before {
    font-weight: 900;
    content: "X"; /* ▵ */
    z-index: 50;
}
.hrk-toggle + label {
    font-size: 100%;
    color: rgba(120, 120, 120, .8);
}
.hrk-navbar svg, .hrk-menu svg {
    min-width: 1.5rem;
}

.hrk-navbar > label {
    max-width: 15%;
}

/* media query non-responsive for big screen */
@media screen and (min-width: 75rem) {
    .hrk-bar-perm {
        flex: auto;
    }
    .hrk-menu .hrk-tree-children > .hrk-leaf {
        padding-left: 1.2rem;
    }
    .hrk-bar-extramenu ul,
    .hrk-navbar .hrk-tree-children > .hrk-leaf {
        padding-left: 1.15rem;
    }
    .hrk-menu > .hrk-tree > .hrk-tree-node > .hrk-tree-children {
        margin-left: -2rem;
    }
    .hrk-tree-node .hrk-leaf a,
    .hrk-tree-node .hrk-leaf span.hrk-a {
        margin-left: 0;
        padding: .5rem .8rem;
    }
    .hrk-menu > .hrk-leaf {
        padding: 0 .75rem;
        margin-left: 0;
    }

    .hrk-bar-extramenu > a,
    .hrk-bar-extramenu > span.hrk-a,
    .hrk-bar-item > a,
    .hrk-bar-item > span.hrk-a,
    .hrk-menu > .hrk-tree > .hrk-tree-node > a,
    .hrk-menu > .hrk-tree > .hrk-tree-node > span.hrk-a,
    .hrk-menu .hrk-leaf > * { /* all navbar top bar links get look and feel */
        width: auto;
    }
    .hrk-navbar {
        flex-flow: row;
        padding-bottom: 0;
    }
    .hrk-navbar > label {
        max-width: unset;
    }
    .hrk-navbar > .hrk-menu > .hrk-tree > .hrk-toggle + label,
    .hrk-navbar > .hrk-menu > .hrk-tree > .hrk-toggle-close-menu > label {
        width: 1rem;
    }
    .hrk-navbar > .hrk-menu > .hrk-tree > label {
        margin-left: -2rem;
    }
    .hrk-toggle-close-menu {
        align-self: center;
    }

    .hrk-menu-responsive {
        position: static;
    }
    .hrk-menu {
        display: flex;
        flex-basis: auto;
        flex-direction: row;
        border: none !important;
        padding-bottom: 0;
        border-radius: 0;
        width: auto;
    }
    .hrk-navbar > .hrk-menu-responsive {
        position: static;
    }
    .hrk-bar-extramenu,
    .hrk-menu > .hrk-tree:hover > .hrk-tree-node > .hrk-tree-children {
        display: flex;
        flex-direction: column;
    }
    .hrk-bar-toggle + label {
        display: none !important;
    }
    .hrk-tree-children {
        position: absolute;
    }
    .hrk-tree-children .hrk-tree-children {
        position: relative;
        flex: 1 100%;
        top: 0;
    }
    .hrk-tree-node, .hrk-leaf,
    .hrk-menu > .hrk-tree > .hrk-tree-node > span.hrk-a { /* top-level inactive item */
        width: auto;
    }
    .hrk-bar-last {
        justify-content: flex-end;
    }
    .hrk-bar-last > .hrk-tree > .hrk-tree-node > .hrk-tree-children {
        position: absolute;
    }

    .hrk-bar-extramenu {
        order: 5;
    }
    .hrk-menu > *:first-child {
        margin-left: 0;
    }
    .hrk-menu > *:last-child {
        margin-right: 0;
    }
}
